/* Base */

h1{

}

p{

}




/* Layout */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
    padding: 15px;
    list-style: none;
}


/* Block */
.body_intro{
    text-align: center;

}
.body_quotes{
    display: flex;
}

.body_menu{
    display: flex;
}

.people{
    background-color: rgba(179, 171, 171, 0.479);
    display: flex;
    justify-content: space-evenly;
}