

.full{
    border-style: solid;
    border-width: 1px;
    width: 40%;
    
    
}
.tt{
    border-style: solid;
    border-width: 1px;
    width: 40%;
}
.evening{
    border-style: solid;
    border-width: 1px;
    width: 40%;
}